[submodule "tmux/tpm"]
	path = tmux/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dotfiles/tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = git@github.com:reb0und/dotfiles.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:reb0und/dotfiles.git
